 /* Définition d'une nouvelle police nommée CAC Champagne *********************************************/
@font-face {
  font-family: "cac_champagneregular";
  src: url("cac_champagne-webfont.eot");
  src: url("cac_champagne-webfont.eot?#iefix") format("embedded-opentype"),
    
    url("cac_champagne-webfont.ttf") format("truetype"),
    url("cac_champagne-webfont.svg#cac_champagneregular") format("svg");
}
/************************************************************************************************************/
#divisionPassword {
    
    background-color: rgba(103, 140, 155, 0.7); 
    /* haut | droit | bas | gauche */
    padding:5px 20px 80px 20px;
    margin-top: 70px;
    border-radius: 10px;
    box-shadow: 6px 6px 6px rgb(65, 90, 100) inset;
    color:black;

  }
   /* Utilisation de la police qu'on vient de définir sur les titres ************************************/
  .Style
   {
    font-family: "cac_champagneregular", Arial, serif;
    font-weight: bold;
    font-style: italic;
    text-decoration: blink;
    font-size: xx-large;
    color: black;
    text-align: center;
  }
 /********************************************************************************************************/
  body {
    background: url(../res/pass.jpg);
   background-size: cover;
    height: 100%;
    width: 100%;
  }
  
